@import 'variables.scss'; 

.mobile-menu-item{
    display: grid;
    place-items: center;
    font-size: 1.2rem;
    filter: grayscale(1);
    color: $white_azure;
    figure > img {
        max-width: 32px;
        max-height: 32px;
    }
    p{
        text-align: center;
    }
}

.mobile-menu-item.active{
    filter: grayscale(0); 
}
