@import 'variables.scss'; 

.mobile-menu-item{
    display: grid;
    place-items: center;
    font-size: 1.2rem;
    filter: grayscale(1);
    color: $white_azure;
    figure > img {
        width: 32px;
        height: 32px;
        @media (width>$mobileLarge){
            width: 48px;
            height: 48px;
        }
    }
    p{
        text-align: center;
    }
}

.mobile-menu-item.active{
    filter: grayscale(0); 
}
