/** Screen Size */
$mobileSmall: 320px;
$mobileMedium: 375px;
$mobileLarge: 425px;
$tablet: 768px;
$laptopSmall: 1024px;
$laptopMedium: 1440px;
$laptopLarge: 2560px;
/** Color Palette */
$black: #1d1e1d;
$white: #f3f5f7;
$white_azure:#F0FFFF;
$gray: #444447;
$dark_blue: #01061d;
$light_blue: #0E76B4;
$blue: #000080;
$red: #821F00;
$green: #006158;
$yellow: #916A08;
$color: #1d1e1d;
$logo: 4rem;
/** Font Family **/
$fontFamily: 'Oswald'; 