@media (min-width: 200px) and (max-width: 600px){
    section.introduction {
        display: flex;
        flex-direction: column;
    }
    .profile_photo {
        width: 100%;
    }
    .personal_resume {
        width: 100%;
    }
    .personal_information {
        h3, h4, h5, p {
            padding: 0px;
            text-align: center;
        }
    }
}