body {
    font-family: 'Open Sans';
    border: solid 1px;
    padding: 10px;
    margin: 20px;
}

p.personal_profile {
    text-align: justify;
}

#profile_photo{
    height: 400px;
    width: 300px;
    object-fit: cover;
}

div.flex_row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

div.flex_col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

div.personal_information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: flex-start;
    width: 100%;
    height: 400px;
    margin: 10px;
}

div.information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

div.work_information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

p.information_item {
    margin: 5px;
}

hr.hr_section{    
    border: 2px solid #212121;
    width: 100%;
}

hr.hr__work{    
    border: 1px solid gainsboro;
    width: 100%;
}

h1.head_section {
    text-align: center;
    margin-bottom: 0px;
}

img.logo_company{
    width: 58px;
    height: 58px;
    object-fit: contain;
}
