<h2>Invite me a coffe</h2>
<p>I invite you to buy me a coffe, a shot of coffe helps me to bring more and more interestings projects and content</p>
<div class="center" id="buy-me-a-coffe">
    <figure style="display: grid; place-items: center; width: 100%;">
        <img src="/media/icons/dogLaptop.webp" alt="Dog browsing on internet" style="max-width: 250px; border-radius: 8px; object-fit: cover;">
    </figure>
    <a href="https://www.paypal.com/donate/?hosted_button_id=VFUWTH3EM5TFE" class="button-primary container--icon">
        Buy me a coffe 
        <span class="icon--nf" >&#xe26f;</span>
    </a>
</div>