<h2> Let's get in contact </h2>
<form 
    id="contact-form" 
    class="contact-form" 
    action="https://formspree.io/f/mnnqpqrz"
    method="POST"
    >
    <label for="name">Name</label>
    <input type="text" id="name" name="name" required autocomplete="name" placeholder="Your name" required>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required autocomplete="email" placeholder="Your email" required>
    <label  for="message">Leave me a message</label>
    <textarea class="textarea" id="message" name="message" placeholder="Feel free to write anything you want to share, I'll be glad to read and get in contact as soon as possible..." required></textarea>
    <input type="hidden" name="_next" value="/thanks.html">
    <input type="hidden" name="_subject" value="New submission from home page!">
    <input type="hidden" name="_autoresponse" value="Thank you for your message. We will be in contact as soon as possible, have a nice day &#128075;">
    <button type="submit" id="button--send" class="button-primary container--icon"><span class="icon--nf send">&#xf1d8;</span>Send Message</button>
</form>