<nav class="menu">
    <ul>
        <li>
            <a href="/" class="mobile-menu-item">
                <figure >
                    <img src="/media/icons/home.png" alt="Home icon">
                </figure>
                <p>Home</p>
            </a>
        </li>
        <li>
            <a href="/portfolio" class="mobile-menu-item">
                <figure >
                    <img src="/media/icons/portfolio.png" alt="Portfolio icon">
                </figure>
                <p>Portfolio</p>
            </a>
        </li>

        <li>
            <a href="/blogs" class="mobile-menu-item">
                <figure >
                    <img src="/media/icons/blogs.png" alt="Blogs icon">
                </figure>
                <p>Blogs & News</p>
            </a>
        </li>

        <li>
            <a href="/freire" class="mobile-menu-item">
                <figure >
                    <img src="/media/icons/info.png" alt="more info icon">
                </figure>
                <p>Me</p>
            </a>
        </li>
    </ul>
</nav>
