<nav class="menu">
    <ul>
        <li>
            <a href="/" class="mobile-menu-item">
                <figure >
                    <img src="/media/images/default.png" alt="Home icon">
                </figure>
                <p>Home</p>
            </a>
        </li>
        <li>
            <a href="/portfolio" class="mobile-menu-item">
                <figure >
                    <img src="/media/images/default.png" alt="Portfolio icon">
                </figure>
                <p>Portfolio</p>
            </a>
        </li>

        <li>
            <a href="/blogs" class="mobile-menu-item">
                <figure >
                    <img src="/media/images/default.png" alt="Blogs icon">
                </figure>
                <p>Blogs & News</p>
            </a>
        </li>

        <li>
            <a href="/about-me" class="mobile-menu-item">
                <figure >
                    <img src="/media/images/default.png" alt="Portfolio icon">
                </figure>
                <p>Me</p>
            </a>
        </li>
    </ul>
</nav>
