<section class="section">
    <a href="/">
        <section class="brand">
            <div class="logo">
                <p style="font-family: 'Times New Roman', Times, serif;">F</p>
            </div>
            <div>
                <p>Freire</p>
                <p>Palomino</p>
            </div>
        </section>
    </a>
    <nav class="header-menu">
        <ul>
            <li>
                <a class="header-item" href="/">Home</a>
            </li>
            <li>
                <a class="header-item" href="/portfolio">Portfolio</a>
            </li>
            <li>
                <a class="header-item" href="/blogs">Blogs and News</a>
            </li>
            <li>
                <a class="header-item" href="/freire">About me</a>
            </li>
        </ul>
    </nav>    
</section>