<a href="/">
    <section class="brand">
        <div class="logo">
            <p style="font-family: 'Times New Roman', Times, serif;">F</p>
        </div>
        <div>
            <p>Freire</p>
            <p>Palomino</p>
        </div>
    </section>
</a>
<nav class="header-menu">
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/portfolio">Portfolio</a>
        </li>
        <li>
            <a href="/blogs">Blogs and News</a>
        </li>
        <li>
            <a href="/freire">About me</a>
        </li>
    </ul>
</nav>
