<a href="/">
    <nav class="navbar">
        <div class="logo">
            <p>F</p>
        </div>
        <div class="brand">
            <p>Freire</p>
            <p>Palomino</p>
        </div>
    </nav>
</a>
<figure class="menu-mobile" style="display: none;">
    <img src="" alt="menu mobile">
</figure>
<ul>
    <li>
        <a href="/portfolio">Portfolio</a>
    </li>
    <li>
        <a href="/blogs">Blogs and News</a>
    </li>
    <li>
        <a href="/about-me.html">About me</a>
    </li>
</ul>