<div class="container">
    <article>
        <a href="/portfolio/P240001/">
            <img fetchpriority="high"  src="/portfolio/P240001/coverPageSmall.webp" alt="Cover Page">
            <summary>Civil Projects</summary>
        </a>
    </article>
    <article>
        <a href="/portfolio/P240005/">
            <img fetchpriority="high" src="/portfolio/P240005/coverPageSmall.webp" alt="Cover Page">
            <summary>Cadenero</summary>
        </a>
    </article>
    <article>
        <a href="/portfolio/P240003/">
            <img fetchpriority="high" src="/portfolio/P240003/coverPageSmall.webp" alt="Cover Page">
            <summary>Joomthund</summary>
        </a>
    </article>
</div>
