<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freire Alexander</title>
    <link rel="shortcut icon" href="/media/brand/logo.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/mobile.css">
    <link rel="stylesheet" href="/styles/blogs.css">
    

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TW9HZ9TTYP"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-TW9HZ9TTYP');
    </script>
    <!-- Consent Manager -->
    <script type="text/javascript" data-cmp-ab="1" src="https://cdn.consentmanager.net/delivery/autoblocking/eef0b77d018b7.js" data-cmp-host="b.delivery.consentmanager.net" data-cmp-cdn="cdn.consentmanager.net" data-cmp-codesrc="16"></script>
</head>
<body>
<div class="body">
    <header id="header"></header>
    <main>
        <section id="blog-cover"></section>
        <section id="blog-data" class="section--blog">
            <h1 class="title">Roads Projects</h1>
            
            <div>
                <p class="author">Author: Freire Alexander Palomino Palma</p>
                <p class="publish">Publish date: <time datetime="01-01-2024">01/01/2024</time> </p>
            </div>
            <hr>
        </section>
        <section id="blog-body" class="section--blog">
            <p>
                Lorem ipsum, <a>dolor sit amet consectetur</a> adipisicing elit. Ex numquam asperiores explicabo velit? Ex, consectetur ipsum quo nesciunt doloremque animi, quia eligendi nemo hic quibusdam labore, mollitia asperiores pariatur esse?
                Id odit tempore veniam voluptatem at sed tempora porro ullam labore harum, laudantium assumenda velit exercitationem in fuga. Facilis dolorem expedita possimus iusto voluptate eius in aperiam nulla reiciendis ipsa.
                Adipisci deserunt ipsa earum voluptatem nisi praesentium. Corrupti unde rem aliquam quia repellendus cupiditate ipsa fugit non labore facilis molestias, amet quo explicabo excepturi quidem aspernatur omnis, culpa nam distinctio.
                Cupiditate, esse. Aperiam voluptates quidem recusandae? Excepturi inventore nam quibusdam fugit ad! Temporibus dignissimos voluptas nemo mollitia corporis! Voluptatum iusto voluptas unde itaque ut suscipit quibusdam optio excepturi eaque odio?
                Veniam nisi doloremque ex quisquam rerum asperiores cum ad sint iste placeat reiciendis ut ullam dolorem quam fugiat id beatae inventore amet, consequatur, debitis qui dicta delectus. Reprehenderit, veritatis quibusdam.
            </p>
            <figure>
                <img src="/blogs/template/coverPage.png" alt="image" title="images">
                <figcaption>from: <a href=""> reference text or description </a></figcaption>
            </figure>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex numquam asperiores explicabo velit? Ex, consectetur ipsum quo nesciunt doloremque animi, quia eligendi nemo hic quibusdam labore, mollitia asperiores pariatur esse?
                Id odit tempore veniam voluptatem at sed tempora porro ullam labore harum, laudantium assumenda velit exercitationem in fuga. Facilis dolorem expedita possimus iusto voluptate eius in aperiam nulla reiciendis ipsa.
                Adipisci deserunt ipsa earum voluptatem nisi praesentium. Corrupti unde rem aliquam quia repellendus cupiditate ipsa fugit non labore facilis molestias, amet quo explicabo excepturi quidem aspernatur omnis, culpa nam distinctio.
                Cupiditate, esse. Aperiam voluptates quidem recusandae? Excepturi inventore nam quibusdam fugit ad! Temporibus dignissimos voluptas nemo mollitia corporis! Voluptatum iusto voluptas unde itaque ut suscipit quibusdam optio excepturi eaque odio?
                Veniam nisi doloremque ex quisquam rerum asperiores cum ad sint iste placeat reiciendis ut ullam dolorem quam fugiat id beatae inventore amet, consequatur, debitis qui dicta delectus. Reprehenderit, veritatis quibusdam.
            </p>
            <div>
                <code>
                    def function():
                        print("Hola mundo")
                </code>
            </div>
        </section>
        <section id="blog-references" class="section--blog">
            <h2>References</h2>
            <ol>
                <li>reference</li>
            </ol>
        </section>
    </main>
    <footer id="footer"></footer>
    <footer id="header-mobile"></footer>
</div>
</body>
    <script src="/scripts/loadComponents.js"></script>
    <script src="/scripts/setCurrentYear.js"></script>
    <script src="/scripts/index.js"></script>
    <script src="/scripts/mobileMenu.js"></script>
    <script>
        // Cargar el header y el footer al cargar la página
        document.addEventListener("DOMContentLoaded", function() {
            loadHTML('header', '/components/header.html');
            loadHTML('header-mobile', '/components/header_mobile.html');
            loadHTML('footer', '/components/footer.html');
        });
    </script>
</html>