/** Screen Size */
/** Color Palette */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Oswald", sans-serif;
  font-size: 62.5%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

body {
  color: #1d1e1d;
  background-color: #01061d;
}

main {
  background-color: #f3f5f7;
}

header {
  position: sticky;
  top: 0px;
  left: 0;
}

nav.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(1, 6, 29, 0.85);
}

.logo {
  display: grid;
  place-content: center;
  border-color: #f3f5f7;
  border-width: 2px;
  border-style: solid;
  height: 4rem;
  width: 4rem;
  margin-left: 20px;
  border-radius: 50%;
  font-family: "Times New Roman", Times, serif;
  background: rgb(3, 16, 78);
  background: linear-gradient(135deg, rgb(3, 16, 78) 10%, rgb(20, 20, 113) 85%, rgb(251, 248, 255) 98%);
}

.logo p {
  font-size: 3.9rem;
  color: #f3f5f7;
}

.brand {
  font-family: "Times New Roman", Times, serif;
  width: -moz-max-content;
  width: max-content;
  margin-left: 6px;
  color: #f3f5f7;
}

.brand p {
  font-size: 2rem;
  line-height: 100%;
}

.greetings {
  background-color: #01061d;
  color: #f3f5f7;
}

.greetings > div {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  width: 100%;
  max-width: 1024px;
  padding-block: 20px 50px;
  padding-inline: 20px;
}
@media (width >= 768px) {
  .greetings > div {
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
  }
}

.greetings__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-block: 24px;
}
@media (width >= 768px) {
  .greetings__content {
    width: 50%;
    place-self: center;
    padding-right: 24px;
    text-align: left;
  }
}

.greetings h1 {
  font-size: 3.5rem;
  padding-top: 20px;
  padding-bottom: 0;
  font-family: "Times New Roman", Times, serif;
  line-height: 100%;
  text-align: center;
}
@media (width >= 768px) {
  .greetings h1 {
    text-align: left;
  }
}

.greetings__content h1 span:last-child {
  font-size: 3.2rem;
  color: whitesmoke;
  text-align: center;
}

.greetings__content p {
  line-height: 100%;
  font-size: 2.4rem;
  padding-block: 4px;
  text-align: center;
}
@media (width >= 768px) {
  .greetings__content p {
    text-align: left;
  }
}

.greetings__content div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (width >= 1024px) {
  .greetings__content div {
    width: 300px;
    flex-direction: row;
    gap: 16px;
  }
}

.button {
  align-self: center;
  width: 150px;
  margin-block: 8px;
  padding: 4px;
  font-size: 2rem;
  border-width: 0;
  border-radius: 48px;
  text-decoration: none;
  color: #f3f5f7;
  background-color: rgb(20, 20, 113);
  line-height: 100%;
}
@media (width >= 768px) {
  .button {
    align-self: flex-start;
  }
}

a.button {
  text-align: center;
  color: rgb(20, 20, 113);
  background-color: #f3f5f7;
}
@media (width >= 768px) {
  a.button {
    align-self: flex-start;
  }
}

.greetings__pictures {
  display: grid;
  place-items: center;
  padding-block: 4px;
  width: 100%;
}
@media (width >= 768px) {
  .greetings__pictures {
    place-self: start;
    padding: 0;
  }
}

.greetings__pictures img {
  width: 280px;
  height: 280px;
  margin: 0 auto;
  border-radius: 32px;
  -o-object-fit: cover;
     object-fit: cover;
}

.introduction {
  display: grid;
  place-items: center;
  width: 100%;
  margin-block: 20px;
}

.introduction h2 {
  font-size: 3rem;
  text-align: center;
}

.introduction p {
  width: 100%;
  max-width: 800px;
  font-size: 1.8rem;
  padding: 16px;
  text-align: justify;
}

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #f3f5f7;
}/*# sourceMappingURL=styles.css.map */