/** Screen Size */
/** Color Palette */
/** Font Family **/
@font-face {
  font-family: "NerdFont";
  src: url("/fonts/nerdfonts.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon--nf {
  font-family: "NerdFont", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

html {
  font-size: 62.5%;
  user-select: none;
  color: #f3f5f7;
}

body {
  background-color: #01061d;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23021530' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg opacity='0.85' fill='%230D1828'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

h1 {
  font-size: 4.2rem;
}

h2 {
  font-size: 3.2rem;
}

h4, h5, h6, p {
  font-size: 1.8rem;
  line-height: 2.4rem;
  margin: 12px 0;
}

a {
  text-decoration: none;
}

.section {
  margin: 0 auto;
  padding: 24px 16px;
}

.button-primary {
  display: block;
  width: fit-content;
  padding: 8px 16px;
  border: 0;
  border-radius: 8px;
  box-shadow: 0 0 6px 4px rgba(0, 153, 255, 0.5);
  background-color: #0099FF;
  color: #F0FFFF;
  font-size: 1.8rem;
  cursor: pointer;
  transition: transform 400ms;
  transition-timing-function: ease-in-out;
}
.button-primary .icon--nf.send {
  transition: transform 600ms;
  transition-timing-function: ease-in-out;
}

.button-primary:hover {
  transform: translateY(-8px);
  transition: transform 600ms;
  transition-timing-function: ease-in-out;
}
.button-primary:hover .icon--nf.send {
  display: inline;
  transform: rotate(-45deg);
}

.container--icon {
  display: flex;
  align-items: center;
  gap: 8px;
}

div.body {
  display: grid;
  grid-template-rows: 1fr auto auto;
  min-height: 100vh;
  color: #F0FFFF;
}
@media (width > 768px) {
  div.body {
    grid-template-rows: auto 1fr auto;
  }
}

#header {
  display: none;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 1000;
  background-color: rgba(1, 6, 29, 0.85);
}
@media (width > 768px) {
  #header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 16px;
  }
}
#header .header-menu {
  height: max-content;
}
#header .header-menu > ul {
  display: flex;
  align-items: stretch;
  gap: 16px;
  list-style: none;
}
#header .header-menu > ul li > a {
  display: block;
  padding: 0 16px;
  font-size: 1.8rem;
  color: #f3f5f7;
  transition-property: transform;
  transition-timing-function: ease-in-out;
  transition-duration: 400ms;
}
#header .header-menu > ul li > a:hover {
  transform: scale(1.4);
  transition-property: transform;
  transition-timing-function: ease-in-out;
  transition-duration: 400ms;
}
#header .header-menu > ul li > a.active {
  color: #0099FF;
  border: 0;
  border-style: solid;
  border-color: #0099FF;
  border-bottom-width: 4px;
}

#header-mobile {
  display: none;
  position: sticky;
  left: 0;
  bottom: 0;
  z-index: 1000;
  padding: 8px 0px;
  background-color: rgba(1, 6, 29, 0.85);
}
@media (width <= 768px) {
  #header-mobile {
    display: block;
  }
}
#header-mobile .menu {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 15vh;
  max-height: 84px;
}
#header-mobile .menu ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}
#header-mobile .menu ul li {
  height: 100%;
}

nav.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo {
  display: grid;
  place-content: center;
  border-color: #f3f5f7;
  border-width: 2px;
  border-style: solid;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  font-family: "Times New Roman", Times, serif;
  background: rgb(3, 16, 78);
  background: linear-gradient(135deg, rgb(3, 16, 78) 10%, rgb(20, 20, 113) 85%, rgb(251, 248, 255) 98%);
}
.logo p {
  font-family: "Times New Roman", Times, serif;
  font-size: 3.9rem;
  color: #f3f5f7;
}

.brand {
  display: flex;
  align-items: center;
  gap: 8px;
  width: max-content;
  margin-left: 6px;
  font-family: "Times New Roman", Times, serif;
  color: #f3f5f7;
}
.brand div > p {
  margin: 0;
}

.personal-introduction {
  display: grid;
  align-items: center;
  width: 100%;
  text-wrap: wrap;
  text-overflow: ellipsis;
  margin: 12px 0;
  overflow: hidden;
}
.personal-introduction span {
  height: 35rem;
}

#contact h2 {
  text-align: center;
  padding-block: 12px 24px;
}
#contact .contact-form {
  display: grid;
  place-items: center;
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
}
#contact .contact-form label, #contact .contact-form input, #contact .contact-form textarea {
  width: 100%;
  font-size: 1.8rem;
  padding: 8px;
}
#contact .contact-form label[for=message] {
  padding-block: 12px 4px;
}
#contact .contact-form textarea {
  height: 150px;
  padding: 12px 8px;
  resize: none;
}
#contact .contact-form .button-primary {
  margin-block: 16px 12px;
}

#footer {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  margin: 36px 0 48px 0;
}
#footer .copyright {
  display: grid;
  place-items: center;
  place-self: center;
}
#footer .copyright #copyright-year, #footer .copyright p {
  margin: 0;
  font-size: 1.4rem;
}
#footer .socials {
  grid-row: 2/3;
  grid-column: 1/3;
}
#footer .socials a {
  margin-inline: 4px;
  font-size: 2.4rem;
  color: #F0FFFF;
}/*# sourceMappingURL=styles.css.map */